.grid-row-2col{//grid row with 2 columns of equal width
    display: grid;
    gap: $spacer-2;
    @media(min-width:$md){
        grid-template-columns: 1fr 1fr;
        
    }
    .std-card{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.grid-row-3col{//grid row with 3 columns of equal width
    display: grid;
    gap: $spacer-2;
    @media(min-width:$md){
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
}
.grid-row-4col{//grid row with 3 columns of equal width
    display: grid;
    gap: $spacer-2;
    @media(min-width:$lg){
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
}

//Utility classes for grid 
.place-grid-start{//places a grid item at the top of a grid row
    place-self: start;
}

.grid-auto-sm{ //auto grid small columns
    display: grid;
    gap: $spacer-1;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}