.loader{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
}
.loader-spinner{
    height: 25%;
    animation: loader 3s infinite ease-in-out;
    
}

@keyframes loader{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}