body {
    background-color: #FAF9FA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: stretch;

    @media(min-width:$md) {
        min-height: 100vh;
    }

    overscroll-behavior: none;

}

a {
    color: $primary;
    display: inline-block;

    &:hover {
        opacity: 0.8;
    }
}