//Colours
$primary:       #3b685c;
$secondary:     hsl(162, 29%, 59%);
$tertiary-col:  #4D4D4D;
$white: #f2f2;
$grey-600: gray;

$primary-500:hsl(163, 28%, 50%);
$primary-600:hsl(163, 28%, 60%);
$primary-700:hsl(163, 28%, 70%);
$primary-800:hsl(163, 28%, 80%);
$primary-900:hsl(163, 28%, 90%);
$primary-950:hsl(163, 28%, 95%);
//colours for alert levels
$info:hsl(197, 71%, 47%);
$info-300: hsl(197, 71%, 30%);
$info-400: hsl(197, 71%, 40%);

$success: hsl(164, 84%, 75%);
//Notifcation banner colors
//Red for a color needing attention
$red-primary: rgba(255, 0, 0, 0.406);
//form colours
$primary-form:       #3b685c;
$error-response: hsl(0, 95%, 67%);
$alert-primary: hsla(0, 99%, 66%, 0.753);
// Border Radius

$border-radius: 10px;
$border-radius-2: 5px;
///Screen Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$x-lg: 1200px;
$xx-lg: 1400px;

//Padding and margin settings
//standard padding for the site

$padding-1:1.5rem;
$padding-2:2rem;

//Spacers
$spacer-1:0.25rem;
$spacer-2:0.5rem;
$spacer-2:0.5rem;
$spacer-3:1.5rem;
$spacer-4:2rem;
$spacer-5:2.5rem;
$spacer-6:3rem;
$spacer-7:4rem;